<!DOCTYPE html>
<html>
<head>
  <title>James Dozier Aka Art-Man</title>
   <meta charset="UTF-8">
<meta name="description" content="James Dozier online porfolio for my art">
<meta name="keywords" content="Oil Paint, Comic Books, Portraits, Drawings ">
<meta name="author" content="James Dozier">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render "layouts/navbar" %>

<div class="container">
  <%= render "layouts/messages" %>
<%= yield %>
</div>


</body>
</html>
